body {
  background-color: #d2b48c;
  font-family: Georgia, serif;
  margin: 0;
  padding: 40px 0;
}

header {
  max-width: 900px;
  margin: 0 auto 40px auto;
  text-align: center;
}

h1 {
  background-color: #808000;
  color: #ffffff;
  padding: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

.inspired {
  max-width: 900px;
  margin: 40px auto;
  background-color: #d3d3d3;
  padding: 25px;
  text-align: center;
}

.inspired h2 {
  margin: 0;
}


h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
}


.act-heading {
  max-width: 700px;
  margin: 0 auto 50px auto;
  background-color: #d3d3d3;
  padding: 30px;
  border-radius: 40px;
}


p,
ul {
  line-height: 1.6;
  font-size: 20px;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
  color: #000080;
  display: inline-block;
  font-family: Georgia, serif;
}