body {
  background-color: #d8c3a5;
  font-family: Georgia, serif;
  margin: 0;
  padding: 40px 0;
}

.header {
  max-width: 900px;
  margin: 0 auto 40px auto;
  text-align: center;

  background-image: url("../image/hobbit.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 80px 40px;
  border-radius: 20px;
  position: relative;
}

.header h2 {
  color: #ffffff;
  background-color: #00000066;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0;
}

h1 {
  background-color: #808000;
  color: #ffffff;
  padding: 30px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

.inspired {
  max-width: 800px;
  margin: 40px auto;
  background-color: #f5f5f5;
  padding: 25px;
  text-align: center;
}

.inspired h2 {
  margin: 0;
}


h3 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
}


.act-heading {
  max-width: 700px;
  margin: 0 auto 50px auto;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 40px;
}

p,
ul {
  line-height: 1.6;
  font-size: 20px;
}

ul {
  padding-left: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #80000b;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #808000;
  color: #ffffff;
}
